@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer utilities {
  .custom-gradient-bg {
  background: radial-gradient(ellipse at center, #cecece 0%, #333399 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 14s normal infinite;
}
}